 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;800&display=swap');
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css';



body {
  color: #262626;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  line-height: 1.25em;
  color: #25283a; 
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 24px;
}
p{
  margin: 0;
}

button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}


.SectionHeader{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 99;
  padding: 100px 10px 72px;
  
}
.SectionHeader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
}
.SectionHeader h2 {
  position: relative;
  padding-bottom: 24px;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}

.SectionHeader h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background: #ff5a00;
}

/*Home*/
.home-achieved,
.IconBoxes{
  padding: 50px;
}

.IconBoxes .icon-box {
  padding: 40px;
  border-radius: 24px;
  background: #ecf2f5;
  text-align: center;
  transition: all 600ms ease-in-out;
  cursor: pointer;
}

.IconBoxes .icon-box h3 {
  margin-top: 28px;
  font-size: 24px;
  font-weight: 600;
  color: #262626;
}

.IconBoxes .icon-box .entry-content p {
  margin: 0;
  font-size: 14px;
  color: #595858;
}

.IconBoxes .icon-box:hover .entry-content p,
.IconBoxes .icon-box:hover h3{
  color: #fff;
}
.IconBoxes .icon-box:hover{
  background: #ff4800;
  color: #fff;
}

.IconBoxes .icon-box:hover figure img:nth-of-type(1),
.IconBoxes .icon-box figure img:nth-of-type(2) {
  display: none;
}

.IconBoxes .icon-box:hover figure img:nth-of-type(2) {
  display:block;
}



.home-welcome{
    position: relative;
    padding: 96px 0;
    background: url(../images/welcome-bg.jpg) no-repeat center;
    background-size: cover;
    z-index: 99;
}

.home-welcome:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(21,21,21,.9);
}
.welcome-content .entry-content {
  font-size: 14px;
  line-height: 2;
  color: #b7b7b7;
}

.about-content h2,
.welcome-content h2 {
  position: relative;
  padding-bottom: 24px;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}

.about-content h2:before,
.welcome-content h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background: #ff5a00;
}

.about-content h2{
  color: #262626;
}


.contact-form .btn-concat,
.about-content .btn,
.welcome-content .btn {
  padding: 18px 40px;
  border: 2px solid #ff5a00;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  outline: none;
  background: #ff5a00;
}

 

.home-achieved .section-heading h2 {
  position: relative;
  padding-bottom: 24px;
  font-size: 36px;
  font-weight: 600;
}

.home-achieved .section-heading h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background: #ff5a00;
}
.counter-box{
  text-align: center;
}
.counter-box .start-counter {
  margin-top: 10px;
  font-size: 48px;
  font-weight: 500;
  color: #262626;
}

.counter-box .entry-title {
  margin-top: 16px;
  font-size: 14px;
  color: #595858;
}


.contact-form {
  padding: 35px 20px;
  background: #edf3f5;
  border: 1px solid#e0e0e0;
}
.entry-content ul{
  margin: 0;
  padding: 0;
}
.entry-content ul li {
  display: flex;
  align-items: baseline;
  margin:0 0 15px;
}

.entry-content ul li i {
 flex: 1;
  font-size: 18px;
  text-align: left;
  color: #ff5a00;
}

.entry-content ul li span{
  flex: 10;
}



@media (max-width:767px){
  .home-achieved, .IconBoxes {
    padding:20px 10px;
}
}