.Logo{
    display: flex;
    align-items: center;
    padding: 12px 0;
    font-size:50px;
    font-weight: bold;
    line-height: 1;
    
}
.Logo a{
    padding: 0;
}
.Logo a i{
    color: #ff4800;
    transform: rotate(6deg);
}

.Logo a span{
    color: #000;
    vertical-align: middle;
}